.navMedia h6{
  font-size: 1rem;
  width: 115%;
  text-align: center;
}

.navMedia select {
  width: 95%;
  font-size: .2rem;
}

.linkAndGitandBlueMode  {
  gap: 5px;
}

.linkAndGit {
  width: 50%;
}

.logo {
  top: -10px;
  left: -30px;
}

.logo img {
  width: 50%;
}

.buttons {
  gap: 2rem;
}

body .showAfterTheresult {
  padding: 0 2rem;
}

footer a {
  width: 67%;
}

footer p {
  font-size: 80%;
}

footer span::after {
  width: 60px;
  right: 35px;
  bottom: -1px;
}

.paste {
  margin-left: 0;
}
